body {
    background-image: url(http://www.restaurantecasaansiles.com/images/fondo_acero_4.jpg);
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: #fff;
	padding-top: 50px;
	background-color: #cccccc;
}

.footer{
	color: white;
	width: 100%;
	border-top: 3px solid #000;
    position: fixed;
    bottom: 0;
	background-color: #000000;
        	
}


.titulo {
	border-bottom: 1px solid #000;
	font-size: 42px;
}

a:hover {
    color: #c0c0c0;
    text-decoration: none;
}

.transparencia {
    position: relative;
    opacity: .5;
}

.texto-carrera-descripcion {
	line-height: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.texto-carrera-reglamento {
	padding-bottom: 40px;
	padding-top: 20px;
}

.texto-inscripcion{
	padding-bottom: 40px;
	padding-top: 20px;
}

.menu {
	background-color: #000;
	color: #fff;
}

.btn-menu {
	margin: 5px 10px 5px 0;
	background-color: #000;
	color: #fff;
}

.contenedor-login, .contenedor-registracion, .contenedor-inscripcion {
	border-radius: 6px;
	border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenedor-info {
   	margin: 15% auto;
   	margin-bottom: 4.5%;
   	margin-top: 4.5%;
}

.nombre-carrera {
	font-size: 35px;
	margin-top: 4.5%;
}

p {
	margin: 0 0 0 0px;
}

.dato-descripcion {
	margin-top: 10px;
	font-size: 16px;
}

.carreras-abiertas {
	font-size: 35px;
	margin-top: 25px;
	margin-bottom: 40px;
}

.texto-login{
	font-size: 36px;
	padding-top: 20px;
	padding-bottom: 5px;
}

.opciones-inscripcion{
	color: #000;
}

.br {
	margin-bottom: 50px;	
}

hr {
	border-top: 1px solid #000;	
}

.hr-descripcion {
	border-top: 1px solid #fff;
	margin-top: 0px;
	margin-bottom: 5px;
}

.hr-reglamento {
	border-top: 1px solid #fff;	
}

.btnInscripcion, .btnIngresar, .btnCancelar, .btnRegistrarse, .btnLogin, .btnContinuar {
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn-default {
	font-size: 20px;
}

.btn-default:hover, .btn-default:focus {
	background-color: #000;
	border-color: #fff;
	color: #fff;
}


h4 { color: #369; }

/*PRUEBAS*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #3E3B3A;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*FIN PRUEBAS*/


